In [17]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None) 
pd.set_option("display.max_rows", None)

model_var = ['Year','HHHolidays_Yes', 'HHFood_Yes', 'HHReserves_Yes', 'HHComputer_Yes', 'HHCar_Yes', 'HousingCost_HighImpactHH',
             'HousingCost_MediumImpactHH', 'HHHeath_Yes', 'vhPobreza_vhPobreza_Yes', 'vhMATDEP_vhMATDEP_Yes','vhRentaa',
             'CHealth','AREMonth', 'LifeSatisfaction0','LifeSatisfaction2']


df = pd.read_csv('./Files/ECV_2004_2018.csv.gz', sep = ';', compression='gzip', usecols = model_var).dropna()
df_model = df[(df['Year'] == 2018) | (df['Year'] == 2013)]

df_model.head()

,Year,AREMonth,vhRentaa,CHealth,HHHolidays_Yes,HHFood_Yes,HHReserves_Yes,HHComputer_Yes,HHCar_Yes,HousingCost_HighImpactHH,HousingCost_MediumImpactHH,HHHeath_Yes,vhPobreza_vhPobreza_Yes,vhMATDEP_vhMATDEP_Yes,LifeSatisfaction0,LifeSatisfaction2
267835,2013,5.0,88450.00,1.0,1,1,1,1,1,1,0,1,0,0,8.0,8.000000
267836,2013,5.0,88450.00,2.0,1,1,1,1,1,1,0,1,0,0,8.0,8.000000
267837,2013,5.0,88450.00,2.0,1,1,1,1,1,1,0,1,0,0,6.5,6.728170
267838,2013,3.0,30558.69,1.0,0,1,1,1,1,0,1,1,0,0,8.5,8.540183
267839,2013,3.0,30558.69,2.0,0,1,1,1,1,0,1,1,0,0,7.5,7.996524

# a) Linear Regression

In [18]:
# Librerías
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

##### Modelo con variable de Satisfacción con la vida 0

In [19]:
# Versión con la variable 1 de satisfacción con la vida
# Variables 

X = df_model[['HHHolidays_Yes', 'HHFood_Yes', 'HHReserves_Yes', 'HHComputer_Yes', 'HHCar_Yes', 'HousingCost_HighImpactHH',
             'HousingCost_MediumImpactHH', 'HHHeath_Yes', 'vhPobreza_vhPobreza_Yes', 'vhMATDEP_vhMATDEP_Yes','vhRentaa',
             'CHealth','AREMonth']]

y1 = df_model['LifeSatisfaction0']

# Train - Test Split
X_train1, X_test1, y_train1, y_test1 = train_test_split(
    X,y1, test_size = 0.2, random_state = 55)


# Instancia
reg = LinearRegression()

# Fit del modelo
reg.fit(X_train1, y_train1)

# Predicción de los valores en test
pred1=reg.predict(X_test1)

##### Modelo con variable de Satisfacción con la vida 2

In [20]:
# Versión con la variable 2 de satisfacción con la vida
# Variables 

X = df_model[['HHHolidays_Yes', 'HHFood_Yes', 'HHReserves_Yes', 'HHComputer_Yes', 'HHCar_Yes', 'HousingCost_HighImpactHH',
             'HousingCost_MediumImpactHH', 'HHHeath_Yes', 'vhPobreza_vhPobreza_Yes', 'vhMATDEP_vhMATDEP_Yes','vhRentaa',
             'CHealth','AREMonth']]


y2 = df_model['LifeSatisfaction2']

# Train - Test Split
X_train2, X_test2, y_train2, y_test2 = train_test_split(
    X,y2, test_size = 0.2, random_state = 55)


# Instancia
reg = LinearRegression()

# Fit del modelo
reg.fit(X_train2, y_train2)

# Predicción de los valores en test
pred2=reg.predict(X_test2)

* ### Resultados

In [22]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

##### Modelo con variable de Satisfacción con la vida 0

In [23]:
# Modelo con variable de satisfacción 0 
print('Modelo con variable de Satisfacción 0:')
print('MAPE: ' + str(np.mean(np.abs(y_test1-pred1))))
print('MAE: ' + str(mean_absolute_error(y_test1,pred1)))
print('RMSE: ' + str(np.sqrt(mean_squared_error(reg.predict((X_test1)),y_test1))))
print('correlation coefficient: ' + str(np.corrcoef(reg.predict(X_test1), y_test1)[0][1]))
print('R2_score: ' + str(r2_score(y_test1,pred1,multioutput='variance_weighted')))

Modelo con variable de Satisfacción 0:
MAPE: 0.9625324024093023
MAE: 0.9625324024093074
RMSE: 1.2471346709713906
correlation coefficient: 0.5363816213456722
R2_score: 0.28950082174886405

##### Modelo con variable de Satisfacción con la vida 2

In [26]:
# Modelo con variable de satisfacción 2 
print('Modelo con variable de Satisfacción 2:')
print('MAPE: ' + str(np.mean(np.abs(y_test2-pred2))))
print('MAE: ' + str(mean_absolute_error(y_test2,pred2)))
print('RMSE: ' + str(np.sqrt(mean_squared_error(reg.predict((X_test2)),y_test2))))
print('correlation coefficient: ' + str(np.corrcoef(reg.predict(X_test2), y_test2)[0][1]))
print('R2_score: ' + str(r2_score(y_test2,pred2,multioutput='variance_weighted')))

Modelo con variable de Satisfacción 2:
MAPE: 0.9553194038057741
MAE: 0.9553194038057732
RMSE: 1.2437143912196618
correlation coefficient: 0.5727024907901481
R2_score: 0.3277093824923545

# b) K - Neighbours

##### Modelo con variable de Satisfacción con la vida 0

##### Modelo con variable de Satisfacción con la vida 2

##### Modelo con variable de Satisfacción con la vida 0

##### Modelo con variable de Satisfacción con la vida 2

# c) Decision Tree

##### Modelo con variable de Satisfacción con la vida 0

##### Modelo con variable de Satisfacción con la vida 2

* ### Resultados

##### Modelo con variable de Satisfacción con la vida 0

##### Modelo con variable de Satisfacción con la vida 2

# d) Random Forest

##### Modelo con variable de Satisfacción con la vida 0

##### Modelo con variable de Satisfacción con la vida 2

##### Modelo con variable de Satisfacción con la vida 0

##### Modelo con variable de Satisfacción con la vida 2